* {
  margin: 0;
  padding: 0;
}


.header_wrapper {
  border-bottom: 1px solid rgb(184, 181, 181);
}

.navbar-brand {
  font-size: 33px;
  font-weight: 700;
}

.nav-btn {
  background-color: #ff7a42 !important;
  color: white;
  height: 53px;
  width: 146px !important;
}

.nav-item {
  line-height: 33px;
  font-weight: 600;
}

.banner_wrapper {
  border-bottom: 1px solid rgb(184, 181, 181);
}

.banner_wrapper h1 {
  margin-top: 82px;
  font-weight: 700;
  font-size: 52px;
}

.banner_wrapper .circle-play {
  cursor: pointer;
  height: 50px;
  width: 50px;
  border: 1px solid #4c409c;
  border-radius: 50%;
  margin-left: 23px;
}

.banner_wrapper .banner-btn {
  width: 166px;
  background-color: #4c409c;
  color: white;
  box-shadow: 0px 10px 10px 0px #4c409c;
}

.banner_wrapper .circle-play .fas {
  position: relative;
  top: 12px;
  left: 19px;
  color: #4c409c;
}

.banner-left-content a {
  padding-top: 9px;
  padding-left: 23px;
  color: #4c409c;
  text-decoration: none;
}

.main-form {
  margin-top: 62px;
}

.input-social-icon {
  float: left;
  margin-left: 12px;
  margin-top: -25px;
  position: relative;
  color: #ff7a42;
}

::placeholder {
  padding-left: 23px;
}

.main-form select {
  padding-left: 36px;
}


.btn-secondary {
  background-color: #ff7a42;
  height: 38px;
  width: 80px;
  outline: none;
  border: 0;
}

.input-btn{
  position: relative;
  top: -39px;
  float: right;
}
.btn-search{
  position: absolute;
  top: 13px;
  left: 6px;
}


.cardIcon img{
  height: 70px;
  width: 70px;
}

#last{
  color: #4c409c;
  border-radius: 8PX;
}
#last H4{
  color: #ff7a42;
}
#last:hover{
  background-color: #4c409c;
  color: blanchedalmond;

}